<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
   <meta name="author" content="Liliana Maia" />
   <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>
   
</head>
<body>

  {{ content }}
  
  </body>
  <script>
 	atualizarTabela();
	zommClickImagem();
</script>
</html>
